@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

:root {

/* COLORS */
--White: hsl(0, 0%, 100%);

--color-stone-100: hsl(30, 54%, 90%);
--color-stone-150: hsl(30, 18%, 87%);
--color-stone-600: hsl(30, 10%, 34%);
--color-stone-900: hsl(24, 5%, 18%);

--color-brown-800: hsl(14, 45%, 36%);

--color-rose-800: hsl(332, 51%, 32%);
--color-rose-50: hsl(330, 100%, 98%);

/* SPACING */

--spacing-1600: 128px;
--spacing-600: 148px;
--spacing-500: 40px;
--spacing-400: 32px;
--spacing-300: 24px;
--spacing-200: 16px;
--spacing-150: 12px;
--spacing-100: 8px;

/* FONTSIZE */

--font-size-desktop-text-preset-1: 40px;
--font-size-desktop-text-preset-2: 28px;
--font-size-desktop-text-preset-3: 20px;
--font-size-desktop-text-preset-4: 16px;



}

body {
    background: var(--color-stone-100, #F3E5D7);
}

h2 {
    color: var(--color-brown-800, #312E2C);
    font-family: "Young Serif";
    font-size: var(--font-size-desktop-text-preset-2, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
}

.text-preset-1 {
    color: var(--color-stone-900, #312E2C);

    /* Desktop/text-preset-1 */
    font-family: "Young Serif";
    font-size: var(--font-size-desktop-text-preset-1, 40px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 40px */
}
.text-preset-2 {
    color: var(--color-brown-800, #312E2C);
    font-family: "Young Serif";
    font-size: var(--font-size-desktop-text-preset-2, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 28px */
}
.text-preset-3 {
    color: var(--color-rose-800, #312E2C);

    /* Desktop/text-preset-3 */
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-3, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 20px */
}
.text-preset-4 {
    color: var(--color-stone-600);
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.text-preset-5 {
    color: var(--color-stone-600, #312E2C);

    /* Desktop/text-preset-4-bold */
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}

.card {
    max-width: 736px;
    display: flex;
    margin: 128px auto ;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400);
    padding: var(--spacing-500);
    border-radius: var(--spacing-300, 24px);
    background: var(--color-white, #FFF);

}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
   
   
}

.overview-card {
    display: flex;
    padding: var(--spacing-300, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
    border-radius: var(--spacing-150, 12px);
    background: var(--color-rose-50, #FFF7FB);
}

.border-bottom {
    border-bottom: 1px solid var(--color-stone-150);
    padding-bottom: var(--spacing-400);
}

img {
    object-fit: cover ;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--spacing-150, 12px);
    margin-bottom: 8px;
}

ul {
    padding: 0;
    padding-left: var(--spacing-100);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}


ul li {
    color: var(--color-stone-600);
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    list-style-position: inside;
    
}

ul li span {
    margin-left: var(--spacing-200);
    display: inline;
}

li::marker {
    color: var(--color-brown-800);
}

ol {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    list-style-position: outside;
    padding-left: 32px;
}



ol li {
    padding-left: var(--spacing-200);
    color: var(--color-stone-600);
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

ol li::marker {
    font-weight: 700;
}

.nutrition-table {
    width: 100%;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing-150) var(--spacing-400);
    border-bottom: 1px solid var(--color-stone-150);
}

.table-row p:nth-child(2) {
    color: var(--color-brown-800);

    /* Desktop/text-preset-4-bold */
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */;
}

.table-row:last-child {
    border-bottom: none;
}




